.quanyuanManger{
   .quanyuanMangerAdmin{
       .el-tabs__nav-wrap::after{
               width:160px;
       }
   .coomComponent{
       .setInputWidth{
           .el-date-editor{
               width:100%;
           }
       }
       .el-dialog__body{
        padding-bottom: 10px;
       }
       .el-form-item__content{
           width:auto;
           .el-select{
               width: 100%;
           }
       }
       .detail_dialog{
        .el-dialog{
            width: 70%;
        } 
       }
         .el-dialog{
             width: 40%;
         } 


         .releaseTime{
            display: flex;
            align-items: center;
            margin-top: 10px;
            span{
                // 券源供给改过span
                font-size:12px;
            }
            .el-input__inner{
                width:100%;
            }
        }
        .accountManager{
            display: flex;
            align-items: center;
         .el-select{
             width:100%; 
         }
        }
        .userType{
            margin-top: 10px;
            .el-radio-button__inner{
                border:0px solid #ccc;
            }
            label{
                margin-right: 10px;
            }
        }
        .status{
            margin-top: 10px;
            .el-radio-button__inner{
                border:0px solid #ccc;
                label{
                    margin-right: 10px;
                }
            }
        }
    }    
   } 
}